body {
    padding: 0;
    margin: 0;
  }
  
  #map,
  body,
  html {
    height: 100%;
  }
  
  .leaflet-popup-content {
    text-align: left;
    text-transform: capitalize;
    max-width: 560;
  }

  .legend{
    background: lightgray;
    width: 100px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
  }
  .legend i {
    width: 12px;
    height: 12px;
    float: left;
    margin: 0 8px 0 0;
  }

  .legend title {
    padding-bottom: 20px;
  }

